.text-center {
    text-align: center;
}

.mt-small {
    margin-top: var(--spacing-small);
}

.mt-medium {
    margin-top: var(--spacing-medium);
}

.mt-large {
    margin-top: var(--spacing-large);
}

.p-small {
    padding: var(--spacing-small);
}

.p-medium {
    padding: var(--spacing-medium);
}

.p-large {
    padding: var(--spacing-large);
}